/* fonts */
@font-face {
  font-family: YekanBakh;
  src: url("../assets/fonts/YekanBakh-Regular.ttf") format("truetype"),
    url("../assets/fonts/YekanBakh-Regular.woff") format("woff"),
    url("../assets/fonts/YekanBakh-Regular.woff2") format("woff2");
}

/* variables */
:root {
  --transition: all 0.2s ease-out;
}

/* reset css */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.5;
}

html {
  overflow-x: hidden;
}

body {
  font-family: YekanBakh;
  overflow-x: hidden;
}

/* utilities */
.hover-grow-scale {
  transition: var(--transition);
}

.hover-grow-scale:hover {
  transform: scale(1.1);
}

.icon {
  font-size: 50px;
  line-height: 0;
  display: inline-block;
}

.bg-blue-50 {
  background-color: #dbf3fe;
}

.bg-orange-50 {
  background-color: #fde3c4;
}

.bg-green-50 {
  background-color: #cffddf;
}

.text-blue {
  color: #2db6fa;
}

.text-orange {
  color: #f68c09;
}

.text-green {
  color: #08da4e;
}

.border-blue {
  border-color: #2db6fa !important;
}

.border-orange {
  border-color: #f68c09 !important;
}

.border-green {
  border-color: #08da4e !important;
}


/* header */

.header {
  transition: var(--transition);
}

.header--scrolled {
  background-color: #fff;
  box-shadow: 0 2px 20px rgba(1, 41, 112, 0.1);
}

/* hero */
.hero {
  width: 100%;
  height: 100vh;
  background: url("../assets/images/hero/intro-bg.png") no-repeat center
    top/cover;
  padding-top: 80px;
}

/* features */
.features .icon {
  color: #4154f1;
}

/* services */
.service {
  box-shadow: 0 0 30px rgba(1, 41, 112, 0.1);
  transition: var(--transition);
}

.service * {
  transition: var(--transition);
}

.service:hover *:not(.icon) {
  color: #fff;
}

.service:hover .services__icon {
  background-color: #fff;
}

.service--blue:hover {
  background-color: #2db6fa;
}
.service--orange:hover {
  background-color: #f68c09;
}
.service--green:hover {
  background-color: #08da4e;
}


/* media queries */
@media all and (max-width: 746px) {
  .navbar-collapse {
    background-color: #fff;
    padding: 10px 20px;
  }
}
